:root {
  --color-bg: #ffffff;
  --color-text-main: #000000;
  --color-text-muted: #2e2d2d;

  --font-heading: "brandon-grotesque", system-ui, -apple-system, sans-serif;
  --font-body: "Montserrat", system-ui, -apple-system, sans-serif;

  --space-lg: 3rem;
  --space-md: 2rem;
  --space-sm: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text-main);
}
